nodered-flows.json
[
    {
        "id": "9c2391e2f1158c49",
        "type": "tab",
        "label": "UART to MQTT Bridge",
        "disabled": false,
        "info": "I am using UART instead of MQTT",
        "env": []
    },
    {
        "id": "709f64d588efa2f6",
        "type": "tab",
        "label": "Downsampling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ffe9ee05fe87915",
        "type": "tab",
        "label": "Gateway Measurement Ingestion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1063a1e6fa2c54e5",
        "type": "tab",
        "label": "Create Retry Queue",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae7b3c5fb31f5f5d",
        "type": "tab",
        "label": "Retry Upload Worker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3533da5c32cca209",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29fba84a.b2af58",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "25f6788fcc3dab9a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1f5229f7700c7237",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "917f2cc428c2b730",
        "type": "global-config",
        "env": [
            {
                "name": "HOUSE_ID",
                "value": "69fe64aae32187ddacef58e0",
                "type": "str"
            }
        ],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-node-sqlite": "2.0.1",
            "node-red-dashboard": "3.6.6"
        }
    },
    {
        "id": "0c73519dfdf663e7",
        "type": "serial-port",
        "name": "HARDWARIO",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "aa11a45c3579292f",
        "type": "sqlitedb",
        "db": "C:\\Users\\Victus\\Desktop\\Unicorn UNI\\Second_Year\\IoT\\Nodered\\nodred.db",
        "mode": "RWC"
    },
    {
        "id": "bf6a3c96.35048",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "11207769.c31889",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "57ff470b.93fdf8",
        "type": "ui_group",
        "name": "Default",
        "tab": "11207769.c31889",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0d7972870f83c48f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e2a41c6c5453705a",
        "type": "sqlitedb",
        "db": "/data/gateway_retry_queue.db",
        "mode": "RWC"
    },
    {
        "id": "a81f6b3a5af72b9a",
        "type": "function",
        "z": "9c2391e2f1158c49",
        "name": "Convert To MQTT",
        "func": "const data = JSON.parse(msg.payload);\n\nconst rawTopic = data[0];\nconst value = data[1];\n\nmsg.topic = `node/${rawTopic}`;\n\nmsg.payload = value;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 140,
        "wires": [
            [
                "8141e9f111bc96ab"
            ]
        ]
    },
    {
        "id": "8141e9f111bc96ab",
        "type": "mqtt out",
        "z": "9c2391e2f1158c49",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f5229f7700c7237",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "ae6433ba1db80126",
        "type": "serial in",
        "z": "9c2391e2f1158c49",
        "name": "HARDWARIO Radio Dongle",
        "serial": "0c73519dfdf663e7",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "a81f6b3a5af72b9a"
            ]
        ]
    },
    {
        "id": "900eab1dac0c29b1",
        "type": "mqtt in",
        "z": "709f64d588efa2f6",
        "name": "",
        "topic": "node/+/thermometer/+/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f5229f7700c7237",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "16ceea0d86d85d21"
            ]
        ]
    },
    {
        "id": "c05c2bab17907725",
        "type": "function",
        "z": "709f64d588efa2f6",
        "name": "Store Temp Values",
        "func": "// const topicParts = msg.topic.split(\"/\");\n// const sensorId = topicParts[1];\n// const temperature = Number(msg.payload);\n\n// if (Number.isNaN(temperature)) return null;\n\n// const key = \"tempValues_\" + sensorId;\n// const values = flow.get(key) || [];\n// values.push(temperature);\n// flow.set(key, values);\n\n// const sensorIds = flow.get(\"activeSensorIds\") || [];\n// if (!sensorIds.includes(sensorId)) {\n//     sensorIds.push(sensorId);\n//     flow.set(\"activeSensorIds\", sensorIds);\n// }\n\n// return null;\n\nconst sensorId = msg.sensorId;\nconst temperature = msg.temperature;\n\nconst key = \"tempValues_\" + sensorId;\nconst values = flow.get(key) || [];\nvalues.push(temperature);\nflow.set(key, values);\n\nconst sensorIds = flow.get(\"activeSensorIds\") || [];\nif (!sensorIds.includes(sensorId)) {\n    sensorIds.push(sensorId);\n    flow.set(\"activeSensorIds\", sensorIds);\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 160,
        "wires": [
            [
                "fe5c39b05024aa38"
            ]
        ]
    },
    {
        "id": "c6293e8017d503d3",
        "type": "inject",
        "z": "709f64d588efa2f6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "ba0f1fdaf8f03089"
            ]
        ]
    },
    {
        "id": "ba0f1fdaf8f03089",
        "type": "function",
        "z": "709f64d588efa2f6",
        "name": "Calculate Average Temperature",
        "func": "const sensorIds = flow.get(\"activeSensorIds\") || [];\n\nif (sensorIds.length === 0) return null;\n\nconst messages = [];\n\nfor (const sensorId of sensorIds) {\n    const key = \"tempValues_\" + sensorId;\n    const values = flow.get(key) || [];\n    if (values.length === 0) continue;\n    const avg = values.reduce((a, b) => a + b, 0) / values.length;\n    flow.set(key, []);\n    messages.push({\n        topic: `node/${sensorId}/downsampled/thermometer/avg/temperature`,\n        payload: avg\n    });\n}\n\nflow.set(\"activeSensorIds\", []);\n\nreturn messages.length > 0 ? messages : null;",
        "outputs": 1,
        "noerr": 4,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 220,
        "wires": [
            [
                "f4ebc8abfb9bea22"
            ]
        ]
    },
    {
        "id": "f4ebc8abfb9bea22",
        "type": "mqtt out",
        "z": "709f64d588efa2f6",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1f5229f7700c7237",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "90c63da4c4c60f5c",
        "type": "http request",
        "z": "709f64d588efa2f6",
        "name": "Check DB",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:3000/device/getBySensorId",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 640,
        "y": 120,
        "wires": [
            [
                "d0e4b71311f1a202"
            ]
        ]
    },
    {
        "id": "16ceea0d86d85d21",
        "type": "function",
        "z": "709f64d588efa2f6",
        "name": "Retrieve Data",
        "func": "const parts = msg.topic.split(\"/\");\nmsg.sensorId = parts[1];\nmsg.temperature = Number(msg.payload);\nmsg.payload = { sensorId: msg.sensorId };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "90c63da4c4c60f5c"
            ]
        ]
    },
    {
        "id": "d0e4b71311f1a202",
        "type": "function",
        "z": "709f64d588efa2f6",
        "name": "function 1",
        "func": "if (msg.statusCode === 404) {\n    msg.payload = { sensorId: msg.sensorId, houseId: env.get(\"HOUSE_ID\") };\n    return [msg, null];\n}\n\nconst device = msg.payload;\nif (!device.roomId) return [null, null];\n\n\nmsg.payload = { sensorId: msg.sensorId, value: msg.temperature };\nreturn [null, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 120,
        "wires": [
            [
                "c4be5330586d12e1"
            ],
            [
                "c05c2bab17907725"
            ]
        ]
    },
    {
        "id": "c4be5330586d12e1",
        "type": "http request",
        "z": "709f64d588efa2f6",
        "name": "Register Device",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:3000/device/create",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 960,
        "y": 80,
        "wires": [
            [
                "fe5c39b05024aa38"
            ]
        ]
    },
    {
        "id": "fe5c39b05024aa38",
        "type": "debug",
        "z": "709f64d588efa2f6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "263c2fa69d6f1c3e",
        "type": "mqtt in",
        "z": "2ffe9ee05fe87915",
        "name": "MQTT In",
        "topic": "node/+/downsampled/thermometer/avg/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1f5229f7700c7237",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "cf89735151982464"
            ]
        ]
    },
    {
        "id": "cf89735151982464",
        "type": "function",
        "z": "2ffe9ee05fe87915",
        "name": "Extract Measurement",
        "func": "const topicParts = msg.topic.split(\"/\");\n// topic: node/{sensorId}/downsampled/thermometer/avg/temperature\nif (topicParts.length < 6) {\n    node.warn(\"Invalid topic: \" + msg.topic);\n    return null;\n}\n\nconst sensorId = topicParts[1];\nconst temperature = Number(msg.payload);\n\nif (Number.isNaN(temperature)) {\n    node.warn(\"Invalid temperature\");\n    return null;\n}\n\nconst measuredAt = new Date().toISOString();\n\nmsg.measurementPayload = {\n    sensorId,\n    temperature,\n    measuredAt\n};\nmsg.measurementId = sensorId +'_'+ measuredAt\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "gw_chk_tkn_0001"
            ]
        ]
    },
    {
        "id": "gw_chk_tkn_0001",
        "type": "function",
        "z": "2ffe9ee05fe87915",
        "name": "Check Gateway Token",
        "func": "const token = global.get(\"gatewayToken\");\nconst expiry = global.get(\"gatewayTokenExp\");\n\nif (token && expiry && Date.now() < expiry) {\n    msg.token = token;\n    return [msg, null];\n}\n\nmsg.payload = {\n    houseId: env.get(\"HOUSE_ID\"),\n};\n\nreturn [null, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 60,
        "wires": [
            [
                "gw_prep_mmt_0001"
            ],
            [
                "gw_login_0001"
            ]
        ]
    },
    {
        "id": "gw_login_0001",
        "type": "http request",
        "z": "2ffe9ee05fe87915",
        "name": "Gateway Login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/house/gatewayLogin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 260,
        "y": 180,
        "wires": [
            [
                "gw_store_tkn_0001"
            ]
        ]
    },
    {
        "id": "gw_store_tkn_0001",
        "type": "function",
        "z": "2ffe9ee05fe87915",
        "name": "Store Gateway Token",
        "func": "if (!msg.payload || !msg.payload.token) {\n    node.error(\"Gateway login failed: \" + JSON.stringify(msg.payload));\n    return null;\n}\nconst token = msg.payload.token;\nglobal.set(\"gatewayToken\", token);\nglobal.set(\"gatewayTokenExp\", Date.now() + 55 * 60 * 1000);\nmsg.token = token;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "gw_prep_mmt_0001"
            ]
        ]
    },
    {
        "id": "gw_prep_mmt_0001",
        "type": "function",
        "z": "2ffe9ee05fe87915",
        "name": "Prepare Measurement Payload",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + msg.token\n};\nmsg.payload = msg.measurementPayload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 120,
        "wires": [
            [
                "56ccb9baaa782b16"
            ]
        ]
    },
    {
        "id": "56ccb9baaa782b16",
        "type": "http request",
        "z": "2ffe9ee05fe87915",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/measurement/create",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "458799a6b7b047ae",
                "736c708eb515ebe1"
            ]
        ]
    },
    {
        "id": "458799a6b7b047ae",
        "type": "function",
        "z": "2ffe9ee05fe87915",
        "name": "Check Backend Response",
        "func": "const statusCode = msg.statusCode;\n\nif (statusCode >= 200 && statusCode < 300) {\n node.status({\n fill: \"green\",\n shape: \"dot\",\n text: \"sent to backend\"\n });\n\n return [msg, null];\n}\n\nnode.status({\n fill: \"red\",\n shape: \"ring\",\n text: \"backend failed, queueing\"\n});\n\nreturn [null, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "cc3afad9cc6a6fc2"
            ],
            [
                "cc3afad9cc6a6fc2",
                "3444c7421556d710"
            ]
        ]
    },
    {
        "id": "3444c7421556d710",
        "type": "function",
        "z": "2ffe9ee05fe87915",
        "name": "Prepare SQLite Insert",
        "func": "const payload = msg.measurementPayload;\n\nif (!payload) {\n node.warn(\"Missing measurementPayload, cannot queue\");\n return null;\n}\n\nconst payloadJson = JSON.stringify(payload).replace(/'/g, \"''\");\nconst measuredAt = new Date().toISOString();\nconst measurementId = msg.measurementId\n\nmsg.topic = `\nINSERT OR IGNORE INTO retry_queue (\n  measurementId,\n  payload,\n  measuredAt,\n  retryCount,\n  lastRetryAt\n)\nVALUES (\n  '${measurementId}',\n  '${payloadJson}',\n  '${measuredAt}',\n  0,\n  NULL\n);\n`;\n\nmsg.payload = {};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 380,
        "wires": [
            [
                "a332499866e978bb"
            ]
        ]
    },
    {
        "id": "cc3afad9cc6a6fc2",
        "type": "function",
        "z": "2ffe9ee05fe87915",
        "name": "Dashboard Backend Status",
        "func": "if (msg.statusCode >= 200 &&\n    msg.statusCode < 300) {\n\n    msg.payload = \"ONLINE\";\n\n} else {\n\n    msg.payload = \"OFFLINE\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 4,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 320,
        "wires": [
            [
                "c341de7d263ae6f3"
            ]
        ]
    },
    {
        "id": "a332499866e978bb",
        "type": "sqlite",
        "z": "2ffe9ee05fe87915",
        "mydb": "aa11a45c3579292f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite Retry Queue",
        "x": 1140,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c341de7d263ae6f3",
        "type": "ui_text",
        "z": "2ffe9ee05fe87915",
        "group": "57ff470b.93fdf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Backend Status",
        "label": "Backend Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "736c708eb515ebe1",
        "type": "debug",
        "z": "2ffe9ee05fe87915",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "9041fb9196d93c35",
        "type": "inject",
        "z": "1063a1e6fa2c54e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "ff1e0110563abf43"
            ]
        ]
    },
    {
        "id": "ff1e0110563abf43",
        "type": "function",
        "z": "1063a1e6fa2c54e5",
        "name": "Create Retry Queue Table",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS retry_queue (\n    measurementId TEXT NOT NULL,\n    payload TEXT NOT NULL,\n    measuredAt TEXT NOT NULL,\n    retryCount INTEGER DEFAULT 0,\n    lastRetryAt TEXT\n);\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "e9a8696fe5c5f670"
            ]
        ]
    },
    {
        "id": "e9a8696fe5c5f670",
        "type": "sqlite",
        "z": "1063a1e6fa2c54e5",
        "mydb": "aa11a45c3579292f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite Retry Queue",
        "x": 660,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7da2fe5fc9ee04a9",
        "type": "inject",
        "z": "ae7b3c5fb31f5f5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "f79688a191a650bf"
            ]
        ]
    },
    {
        "id": "f79688a191a650bf",
        "type": "function",
        "z": "ae7b3c5fb31f5f5d",
        "name": "Select Retry Queue",
        "func": "msg.topic = `\nSELECT * FROM retry_queue\nORDER BY measuredAt ASC\nLIMIT 10;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "a69477c86365f831"
            ]
        ]
    },
    {
        "id": "4864963559756272",
        "type": "split",
        "z": "ae7b3c5fb31f5f5d",
        "name": "Split Rows",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 750,
        "y": 180,
        "wires": [
            [
                "rtry_chk_tkn_001"
            ]
        ]
    },
    {
        "id": "rtry_chk_tkn_001",
        "type": "function",
        "z": "ae7b3c5fb31f5f5d",
        "name": "Check Gateway Token",
        "func": "const token = global.get(\"gatewayToken\");\nconst expiry = global.get(\"gatewayTokenExp\");\n\nif (token && expiry && Date.now() < expiry) {\n    msg.token = token;\n    return [msg, null];\n}\n\nmsg.payload = {\n    houseId: env.get(\"HOUSE_ID\"),\n};\n\nreturn [null, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "969073b79b391b08"
            ],
            [
                "rtry_login_001"
            ]
        ]
    },
    {
        "id": "rtry_login_001",
        "type": "http request",
        "z": "ae7b3c5fb31f5f5d",
        "name": "Gateway Login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/house/gatewayLogin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 260,
        "y": 360,
        "wires": [
            [
                "rtry_store_tkn_001"
            ]
        ]
    },
    {
        "id": "rtry_store_tkn_001",
        "type": "function",
        "z": "ae7b3c5fb31f5f5d",
        "name": "Store Gateway Token",
        "func": "if (!msg.payload || !msg.payload.token) {\n    node.error(\"Gateway login failed: \" + JSON.stringify(msg.payload));\n    return null;\n}\nconst token = msg.payload.token;\nglobal.set(\"gatewayToken\", token);\nglobal.set(\"gatewayTokenExp\", Date.now() + 55 * 60 * 1000);\nmsg.token = token;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "969073b79b391b08"
            ]
        ]
    },
    {
        "id": "969073b79b391b08",
        "type": "function",
        "z": "ae7b3c5fb31f5f5d",
        "name": "Prepare Retry Payload",
        "func": "const row = msg.payload;\n\nconst payload =\n    JSON.parse(row.payload);\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + msg.token\n};\n\nmsg.retryId = row.measurementId;\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "36500b97a2040ed9"
            ]
        ]
    },
    {
        "id": "36500b97a2040ed9",
        "type": "http request",
        "z": "ae7b3c5fb31f5f5d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3000/measurement/create",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 260,
        "wires": [
            [
                "c5cb1d63e4b9b606"
            ]
        ]
    },
    {
        "id": "c5cb1d63e4b9b606",
        "type": "function",
        "z": "ae7b3c5fb31f5f5d",
        "name": "Delete Successful Retry",
        "func": "if (msg.statusCode >= 200 &&\n    msg.statusCode < 300) {\n\n    msg.topic = `\n    DELETE FROM retry_queue\n    WHERE measurementId =\n    '${msg.retryId}';\n    `;\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "fd8ec227280feeb5",
                "28d9388db61ab602"
            ]
        ]
    },
    {
        "id": "a69477c86365f831",
        "type": "sqlite",
        "z": "ae7b3c5fb31f5f5d",
        "mydb": "aa11a45c3579292f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite Retry Queue",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "4864963559756272"
            ]
        ]
    },
    {
        "id": "fd8ec227280feeb5",
        "type": "sqlite",
        "z": "ae7b3c5fb31f5f5d",
        "mydb": "aa11a45c3579292f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite Retry Queue",
        "x": 900,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "28d9388db61ab602",
        "type": "debug",
        "z": "ae7b3c5fb31f5f5d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 180,
        "wires": []
    },
    {
        "id": "83ecb75f6f2675e1",
        "type": "inject",
        "z": "3533da5c32cca209",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "ffbf8daabed51e59"
            ]
        ]
    },
    {
        "id": "ffbf8daabed51e59",
        "type": "function",
        "z": "3533da5c32cca209",
        "name": "Get Queue Size",
        "func": "msg.topic = `\nSELECT COUNT(*) as count\nFROM retry_queue;\n`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "d0ad52e2486bfab9"
            ]
        ]
    },
    {
        "id": "d4d86830452bee5e",
        "type": "function",
        "z": "3533da5c32cca209",
        "name": "Format Queue Count",
        "func": "msg.payload =\n    msg.payload[0].count;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "52068c0d369d7cbd"
            ]
        ]
    },
    {
        "id": "6d02e5443d477ebe",
        "type": "mqtt in",
        "z": "3533da5c32cca209",
        "name": "",
        "topic": "node/+/thermometer/+/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1f5229f7700c7237",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "4fe3171c7fa07f5d"
            ]
        ]
    },
    {
        "id": "4fe3171c7fa07f5d",
        "type": "function",
        "z": "3533da5c32cca209",
        "name": "function 2",
        "func": "const temperature = Number(msg.payload);\n\nif (Number.isNaN(temperature)) {\n    return null;\n}\n\nmsg.payload = temperature.toFixed(1) + \" °C\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "340f58266a5265c7"
            ]
        ]
    },
    {
        "id": "d0ad52e2486bfab9",
        "type": "sqlite",
        "z": "3533da5c32cca209",
        "mydb": "aa11a45c3579292f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite Retry Queue",
        "x": 660,
        "y": 100,
        "wires": [
            [
                "d4d86830452bee5e"
            ]
        ]
    },
    {
        "id": "52068c0d369d7cbd",
        "type": "ui_text",
        "z": "3533da5c32cca209",
        "group": "57ff470b.93fdf8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Retry Queue Size",
        "label": "Retry Queue Size",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 100,
        "wires": []
    },
    {
        "id": "340f58266a5265c7",
        "type": "ui_text",
        "z": "3533da5c32cca209",
        "group": "57ff470b.93fdf8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Last Temperature",
        "label": "Last Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 320,
        "wires": []
    }
]