server/Node-RED/Dashboard.json
[{"id":"ef2975e74cd51b8f","type":"tab","label":"Dashboard","disabled":false,"info":"","env":[]},{"id":"cd29dbf0b3b5a7c1","type":"link in","z":"ef2975e74cd51b8f","name":"Link In: dashboard-live-measurement","links":["28e68d4ed4e37701","549322bd677be8f9"],"x":135,"y":200,"wires":[["24116c346fecda8c","6e7749cb6df33680","7693ea41e723d9ca","e63838d6b8e12967"]]},{"id":"d438b32a29d9da69","type":"link in","z":"ef2975e74cd51b8f","name":"Link In: dashboard-backend-failed","links":["b958110561a55769"],"x":135,"y":500,"wires":[["78011d696ef939d1"]]},{"id":"75db270e04307906","type":"link in","z":"ef2975e74cd51b8f","name":"Link Out: dashboard-retry-success","links":["4c67f22bc53345cc"],"x":135,"y":60,"wires":[["9cef74c074b828c5","526b492e4df6cd85"]]},{"id":"787ec58e75ea8d18","type":"ui_gauge","z":"ef2975e74cd51b8f","name":"Latest temperature","group":"57ff470b.93fdf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Latest received Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":530,"y":280,"wires":[]},{"id":"24116c346fecda8c","type":"function","z":"ef2975e74cd51b8f","name":"payload.temp","func":"msg.payload = msg.measurementPayload.temperature;\nreturn msg; ","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["787ec58e75ea8d18"]]},{"id":"6e7749cb6df33680","type":"function","z":"ef2975e74cd51b8f","name":"payload.temp+uniqueDeviceId","func":"msg.topic = msg.measurementPayload.uniqueDeviceId;\nmsg.payload = msg.measurementPayload.temperature;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["f7176b9ad5b9e0ad"]]},{"id":"f7176b9ad5b9e0ad","type":"ui_chart","z":"ef2975e74cd51b8f","name":"Temperature history","group":"57ff470b.93fdf8","order":2,"width":0,"height":0,"label":"Temperature history by sensor","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":640,"y":340,"wires":[[]]},{"id":"7693ea41e723d9ca","type":"function","z":"ef2975e74cd51b8f","name":"status.online","func":"msg.payload = \"ONLINE - measurement sent\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["5267ab9384199e14"]]},{"id":"5267ab9384199e14","type":"ui_text","z":"ef2975e74cd51b8f","group":"57ff470b.93fdf8","order":3,"width":0,"height":0,"name":"Backend status","label":"Backend status","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":500,"y":460,"wires":[]},{"id":"78011d696ef939d1","type":"function","z":"ef2975e74cd51b8f","name":"status.offline","func":"msg.payload = \"OFFLINE - measurement queued\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":500,"wires":[["5267ab9384199e14"]]},{"id":"9cef74c074b828c5","type":"function","z":"ef2975e74cd51b8f","name":"last sync","func":"msg.payload = new Date().toLocaleString();\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":120,"wires":[["0b570b43d574415d"]]},{"id":"e63838d6b8e12967","type":"function","z":"ef2975e74cd51b8f","name":"last sync","func":"msg.payload = new Date().toLocaleString();\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":200,"wires":[["0b570b43d574415d"]]},{"id":"0b570b43d574415d","type":"ui_text","z":"ef2975e74cd51b8f","group":"57ff470b.93fdf8","order":3,"width":0,"height":0,"name":"Last successful sync","label":"Last successful sync","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":500,"y":160,"wires":[]},{"id":"526b492e4df6cd85","type":"function","z":"ef2975e74cd51b8f","name":"last measurement","func":"const p = msg.measurementPayload;\n\nconst measuredDate = new Date(p.measuredAt);\n\nmsg.payload =\n    `${p.uniqueDeviceId}: ${p.temperature}°C at ${measuredDate.toLocaleString()}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":60,"wires":[["0a87a583b4e9e67e"]]},{"id":"0a87a583b4e9e67e","type":"ui_text","z":"ef2975e74cd51b8f","group":"57ff470b.93fdf8","order":4,"width":0,"height":0,"name":"Last retried measurement","label":"Last retried measurement","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":570,"y":60,"wires":[]},{"id":"2f21d65e186ed2f4","type":"function","z":"ef2975e74cd51b8f","name":"Count retry queue","func":"msg.topic = \"SELECT COUNT(*) AS count FROM retry_queue;\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":600,"wires":[["6d6279fd45dc4af8"]]},{"id":"4ce76104496b4b8f","type":"function","z":"ef2975e74cd51b8f","name":"Extract queue count","func":"const row = msg.payload[0];\nmsg.payload = row ? row.count : 0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":600,"wires":[["3cd39c221c9f8043"]]},{"id":"3cd39c221c9f8043","type":"ui_text","z":"ef2975e74cd51b8f","group":"57ff470b.93fdf8","order":5,"width":0,"height":0,"name":"Queued measurements","label":"Queued measurements","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1130,"y":600,"wires":[]},{"id":"d1a33bb9a6b50fce","type":"inject","z":"ef2975e74cd51b8f","name":"Inject every 10s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":600,"wires":[["2f21d65e186ed2f4"]]},{"id":"6d6279fd45dc4af8","type":"sqlite","z":"ef2975e74cd51b8f","mydb":"e2a41c6c5453705a","sqlquery":"msg.topic","sql":"","name":"SQLite","x":650,"y":600,"wires":[["4ce76104496b4b8f"]]},{"id":"57ff470b.93fdf8","type":"ui_group","name":"Status","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e2a41c6c5453705a","type":"sqlitedb","db":"/data/gateway_retry_queue.db","mode":"RWC"},{"id":"11207769.c31889","type":"ui_tab","name":"Gateway","icon":"dashboard","disabled":false,"hidden":false}]