server/Node-RED/Gateway + Retry queue flow.json
[{"id":"c72221a9bf740fa3","type":"tab","label":"Gateway Measurement Ingestion","disabled":false,"info":"","env":[]},{"id":"51b0ea6b6ae65757","type":"mqtt in","z":"c72221a9bf740fa3","name":"MQTT In","topic":"node/+/thermometer/+/temperature","qos":"0","datatype":"auto-detect","broker":"0d7972870f83c48f","nl":false,"rap":true,"rh":0,"inputs":0,"x":340,"y":140,"wires":[["3a6bb9f639e0ae3b"]]},{"id":"4be6683d2f49613d","type":"debug","z":"c72221a9bf740fa3","name":"Measurement debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":140,"wires":[]},{"id":"3a6bb9f639e0ae3b","type":"function","z":"c72221a9bf740fa3","name":"Convert Hardwario Temp","func":"const topicParts = msg.topic.split(\"/\");\n\nconst uniqueDeviceId = topicParts[1];\nconst temperature = Number(msg.payload);\n\nif (!uniqueDeviceId || Number.isNaN(temperature)) {\n    node.warn(\"Invalid HARDWARIO temperature message\");\n    return null;\n}\n\nconst measuredAt = new Date().toISOString();\n\nconst measurementId =\n    uniqueDeviceId + \"-\" + Date.now();\n\nconst measurementPayload = {\n    measurementId,\n    uniqueDeviceId,\n    temperature,\n    measuredAt\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": env.get(\"GATEWAY_API_KEY\") || \"abc123\"\n};\n\nmsg.payload = measurementPayload;\n\n// save original payload for retry queue\nmsg.measurementPayload = measurementPayload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":2,"initialize":"","finalize":"","libs":[],"x":570,"y":180,"wires":[["8f2ff286f8a30103"]]},{"id":"8f2ff286f8a30103","type":"http request","z":"c72221a9bf740fa3","name":"/gateway/measurement","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/gateway/measurement","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":850,"y":180,"wires":[["93c4fc0fa7120254"]]},{"id":"93c4fc0fa7120254","type":"function","z":"c72221a9bf740fa3","name":"Check Backend Response","func":"const statusCode = msg.statusCode;\n\nif (statusCode >= 200 && statusCode < 300) {\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: \"sent to backend\"\n    });\n\n    return [msg, null];\n}\n\nnode.status({\n    fill: \"red\",\n    shape: \"ring\",\n    text: \"backend failed, queueing\"\n});\n\nreturn [null, msg];","outputs":2,"timeout":0,"noerr":3,"initialize":"","finalize":"","libs":[],"x":1140,"y":180,"wires":[["4be6683d2f49613d","28e68d4ed4e37701"],["df02973934ac69da","b958110561a55769"]]},{"id":"df02973934ac69da","type":"function","z":"c72221a9bf740fa3","name":"Prepare SQLite Insert","func":"const payload = msg.measurementPayload;\n\nif (!payload || !payload.measurementId) {\n    node.warn(\"Missing measurementPayload, cannot queue\");\n    return null;\n}\n\nconst payloadJson = JSON.stringify(payload).replace(/'/g, \"''\");\nconst measurementId = payload.measurementId.replace(/'/g, \"''\");\nconst createdAt = new Date().toISOString();\n\nmsg.topic = `\nINSERT OR IGNORE INTO retry_queue (\n  measurementId,\n  payload,\n  createdAt,\n  retryCount,\n  lastRetryAt\n)\nVALUES (\n  '${measurementId}',\n  '${payloadJson}',\n  '${createdAt}',\n  0,\n  NULL\n);\n`;\n\nmsg.payload = {};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":1,"initialize":"","finalize":"","libs":[],"x":1420,"y":220,"wires":[["641764b2163ba8a6"]]},{"id":"641764b2163ba8a6","type":"sqlite","z":"c72221a9bf740fa3","mydb":"e2a41c6c5453705a","sqlquery":"msg.topic","sql":"","name":"Insert to SQLite","x":1660,"y":220,"wires":[["1e3acda120e5d624"]]},{"id":"1e3acda120e5d624","type":"debug","z":"c72221a9bf740fa3","name":"SQLite debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1880,"y":220,"wires":[]},{"id":"52b6749a43846ef1","type":"inject","z":"c72221a9bf740fa3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM retry_queue;","payload":"","payloadType":"str","x":170,"y":420,"wires":[["0cfd9f58a735926f"]]},{"id":"f5a116dbbfeef588","type":"function","z":"c72221a9bf740fa3","name":"Button to mock temp","func":"const topicParts = msg.topic.split(\"/\");\n\nconst buttonDeviceId = topicParts[1];\n\nconst thermometerDeviceId =\n    env.get(\"TEST_THERMOMETER_DEVICE_ID\") || \"test-thermometer-001\";\n\nconst mockTemperature =\n    Number(env.get(\"MOCK_TEMPERATURE\") || 22.5);\n\nmsg.topic = `node/${thermometerDeviceId}/thermometer/0/temperature`;\nmsg.payload = mockTemperature;\n\nmsg.buttonDeviceId = buttonDeviceId;\nmsg.isMockMeasurement = true;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":2,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["3a6bb9f639e0ae3b"]]},{"id":"da349d388e79aabd","type":"mqtt in","z":"c72221a9bf740fa3","name":"MQTT In","topic":"node/+/push-button/+/#","qos":"0","datatype":"auto-detect","broker":"0d7972870f83c48f","nl":false,"rap":true,"rh":0,"inputs":0,"x":80,"y":220,"wires":[["f5a116dbbfeef588"]]},{"id":"bef1b497cbabbf4c","type":"inject","z":"c72221a9bf740fa3","name":"Retry every 60s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["f69d6b956ba86b64"]]},{"id":"f69d6b956ba86b64","type":"function","z":"c72221a9bf740fa3","name":"Load retry queue","func":"msg.topic = `\nSELECT * FROM retry_queue\nORDER BY createdAt ASC\nLIMIT 20;\n`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":500,"wires":[["26f8be312db51e3b"]]},{"id":"aeb62952ccc9856e","type":"function","z":"c72221a9bf740fa3","name":"Build Retry request","func":"const row = msg.payload;\n\nconst payload = JSON.parse(row.payload);\n\nmsg.retryRowId = row.id;\nmsg.measurementPayload = payload;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": env.get(\"GATEWAY_API_KEY\") || \"abc123\"\n};\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":1,"initialize":"","finalize":"","libs":[],"x":1070,"y":500,"wires":[["52d61d2b75659a5f","efd34ce06a71ddc1"]]},{"id":"52d61d2b75659a5f","type":"http request","z":"c72221a9bf740fa3","name":"/gateway/measurement","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/gateway/measurement","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1330,"y":460,"wires":[["e62ab95ea531c8fe"]]},{"id":"e62ab95ea531c8fe","type":"function","z":"c72221a9bf740fa3","name":"Handle Retry Result","func":"const statusCode = msg.statusCode;\n\nif (statusCode >= 200 && statusCode < 300) {\n\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: \"retry success\"\n    });\n\n    msg.topic = `\n    DELETE FROM retry_queue\n    WHERE id = ${msg.retryRowId};\n    `;\n\n    msg.payload = {};\n\n    return [msg, null];\n}\n\nnode.status({\n    fill: \"red\",\n    shape: \"ring\",\n    text: \"retry failed\"\n});\n\nreturn [null, msg];","outputs":2,"timeout":0,"noerr":6,"initialize":"","finalize":"","libs":[],"x":1600,"y":460,"wires":[["7826c3163d4aff4d","4c67f22bc53345cc","549322bd677be8f9"],[]]},{"id":"0cfd9f58a735926f","type":"sqlite","z":"c72221a9bf740fa3","mydb":"e2a41c6c5453705a","sqlquery":"msg.topic","sql":"","name":"Select SQLite retry_queue","x":480,"y":420,"wires":[["1ee127b7a9a41bf1"]]},{"id":"3c62af2bb54244c7","type":"sqlite","z":"c72221a9bf740fa3","mydb":"e2a41c6c5453705a","sqlquery":"msg.topic","sql":"","name":"Create SQLite table","x":410,"y":340,"wires":[[]]},{"id":"4868165cdbd6e386","type":"inject","z":"c72221a9bf740fa3","name":"Inject create SQLite table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS retry_queue (   id INTEGER PRIMARY KEY AUTOINCREMENT,   measurementId TEXT NOT NULL UNIQUE,   payload TEXT NOT NULL,   createdAt TEXT NOT NULL,   retryCount INTEGER DEFAULT 0,   lastRetryAt TEXT );","payload":"","payloadType":"str","x":150,"y":340,"wires":[["3c62af2bb54244c7"]]},{"id":"be38673426fa9570","type":"split","z":"c72221a9bf740fa3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":870,"y":500,"wires":[["aeb62952ccc9856e"]]},{"id":"26f8be312db51e3b","type":"sqlite","z":"c72221a9bf740fa3","mydb":"e2a41c6c5453705a","sqlquery":"msg.topic","sql":"","name":"Select retry_queue SQLite","x":640,"y":500,"wires":[["be38673426fa9570"]]},{"id":"7826c3163d4aff4d","type":"sqlite","z":"c72221a9bf740fa3","mydb":"e2a41c6c5453705a","sqlquery":"msg.topic","sql":"","name":"Delete retry row SQLite","x":1870,"y":420,"wires":[["b42869097c3346d2"]]},{"id":"b42869097c3346d2","type":"debug","z":"c72221a9bf740fa3","name":"Delete retry row SQLite debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2170,"y":420,"wires":[]},{"id":"1ee127b7a9a41bf1","type":"debug","z":"c72221a9bf740fa3","name":"Select from SQLite debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"efd34ce06a71ddc1","type":"debug","z":"c72221a9bf740fa3","name":"Retry measurement debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":540,"wires":[]},{"id":"0fe98bc4bdb47b71","type":"comment","z":"c72221a9bf740fa3","name":"README","info":"**1st step:** inject create SQLite table\n**2nd step:** connect to your device\n**3rd step:** in order to test the retry queue break both /gateway/measurement HTTP requests\n**4th step:** send a measurement either via mocked button event or wait for real measurement\n**5th step:** check whether the measurement was pushed in the retry queue via inject SELECT * FROM retry_queue\n**6th step:** repair the previously broken /gateway/measurement HHTP reqeust\n**7th step:** wait at most 60s until the retry fires\n**8th step:** check whether the retry queue got deleted via inject SELECT * FROM retry_queue","x":80,"y":140,"wires":[]},{"id":"28e68d4ed4e37701","type":"link out","z":"c72221a9bf740fa3","name":"Link Out: dashboard-live-measurement","mode":"link","links":["cd29dbf0b3b5a7c1"],"x":1275,"y":100,"wires":[]},{"id":"b958110561a55769","type":"link out","z":"c72221a9bf740fa3","name":"Link Out: dashboard-backend-failed","mode":"link","links":["d438b32a29d9da69"],"x":1275,"y":260,"wires":[]},{"id":"4c67f22bc53345cc","type":"link out","z":"c72221a9bf740fa3","name":"Link Out: dashboard-retry-success","mode":"link","links":["75db270e04307906"],"x":1685,"y":360,"wires":[]},{"id":"549322bd677be8f9","type":"link out","z":"c72221a9bf740fa3","name":"Link Out: dashboard-live-measurement(retry)","mode":"link","links":["cd29dbf0b3b5a7c1"],"x":1775,"y":360,"wires":[]},{"id":"0d7972870f83c48f","type":"mqtt-broker","name":"","broker":"localhost","port":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e2a41c6c5453705a","type":"sqlitedb","db":"/data/gateway_retry_queue.db","mode":"RWC"}]