server/Node-RED/Gateway flow.json
[{"id":"c72221a9bf740fa3","type":"tab","label":"Gateway Measurement Ingestion","disabled":false,"info":"","env":[]},{"id":"918677370a849c03","type":"tab","label":"Button","disabled":false,"info":"","env":[]},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"57ff470b.93fdf8","type":"ui_group","name":"Default","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":false},{"id":"0d7972870f83c48f","type":"mqtt-broker","name":"","broker":"localhost","port":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"51b0ea6b6ae65757","type":"mqtt in","z":"c72221a9bf740fa3","name":"MQTT In","topic":"node/+/thermometer/+/temperature","qos":"0","datatype":"auto-detect","broker":"0d7972870f83c48f","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":100,"wires":[["3a6bb9f639e0ae3b"]]},{"id":"4be6683d2f49613d","type":"debug","z":"c72221a9bf740fa3","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":300,"wires":[]},{"id":"3a6bb9f639e0ae3b","type":"function","z":"c72221a9bf740fa3","name":"Convert Hardwario Temp","func":"const topicParts = msg.topic.split(\"/\");\n\nconst uniqueDeviceId = topicParts[1];\nconst temperature = Number(msg.payload);\n\nif (!uniqueDeviceId || Number.isNaN(temperature)) {\n    node.warn(\"Invalid HARDWARIO temperature message\");\n    return null;\n}\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": \"abc123\"\n};\n\nmsg.payload = {\n    uniqueDeviceId,\n    temperature,\n    measuredAt: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":1,"initialize":"","finalize":"","libs":[],"x":270,"y":180,"wires":[["8f2ff286f8a30103"]]},{"id":"8f2ff286f8a30103","type":"http request","z":"c72221a9bf740fa3","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/gateway/measurement","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":260,"wires":[["4be6683d2f49613d"]]},{"id":"dbc10885d492b227","type":"mqtt in","z":"918677370a849c03","name":"MQTT In","topic":"node/+/push-button/+/#","qos":"0","datatype":"auto-detect","broker":"0d7972870f83c48f","nl":false,"rap":true,"rh":0,"inputs":0,"x":80,"y":100,"wires":[["c8d758db85bf6abe"]]},{"id":"638e722767e37a5e","type":"debug","z":"918677370a849c03","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":300,"wires":[]},{"id":"c8d758db85bf6abe","type":"function","z":"918677370a849c03","name":"Convert Hardwario Button","func":"const topicParts = msg.topic.split(\"/\");\nconst uniqueDeviceId = topicParts[1];\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": \"abc123\"\n};\n\n// simulate measurement or event\nmsg.payload = {\n    uniqueDeviceId,\n    temperature: 999, // dummy value to pass validation\n    measuredAt: new Date().toISOString(),\n    event: \"button_click\"\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":180,"wires":[["316e5e7efdb238e7"]]},{"id":"316e5e7efdb238e7","type":"http request","z":"918677370a849c03","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/gateway/measurement","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":260,"wires":[["638e722767e37a5e"]]}]